@media screen and (max-width: 446px) {
    .sec1 {
      display:none;
    }

.mainBox{
  width: 100vw;
}
}
.row-1__music{
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  overflow: scroll;
  overflow-y: hidden;
  width: 100%;
}
.row-1__music::-webkit-scrollbar{
  height:0px;
}