@media screen and (max-width: 500px) {
    .sec1 {
      display:none;
    }
    .mainBox{
      height: 93%;
      width: 100%;
      scrollbar-width: none;
      scrollbar-gutter: stable;
      display: flex;
      flex-direction: column;
      z-index: 1
    }
    .row-1__music{
      overflow-x:scroll;
      scrollbar-width: none;
      scrollbar-gutter: stable;
      gap:0;
      margin: 0;
      padding: 0;
      z-index: 99
    } 
    .musicContainers{
      height:100%;
    }
  }
  